.aboutme-section{
	height:408px;
	//background-color: magenta;
	margin-top: -20px;
	width: 90%;
	padding-left:5%;
	padding-right: 5%; 
}

.title-aboutme-section{
	border: 1px solid #000;
text-align: center;
height: auto;
padding-top: 15px;
padding-bottom: 15px;
margin-left: 3%;
margin-right: 3%;
}

.academic-skills{
	width:45%;
	display:inline-block; 
	margin-right: 4%;
}

.subtitle-academic-skills{
	border: 1px solid #000;
width: 100%;
height: auto;
padding-top: 15px;
padding-bottom: 15px;
padding-left:3%;
margin-left: 7%;
}

.info-academic-skills{
	border: 1px solid #000;
	margin-left: 7%;
width: 100%;
height: auto;
padding-top: 15px;
padding-bottom: 15px;
padding-left:3%;
}

.profesional-skills{
	width:45%;
	display:inline-block; 
}

.info-profesional-skills{
	border: 1px solid #000;
	margin-left: 3%;
width: 100%;
margin-right: 3%;
height: auto;
padding-top: 15px;
padding-bottom: 15px;
padding-left:2%;
}

.subtitle-profesional-skills{
	border: 1px solid #000;
	margin-left: 3%;
width: 100%;
margin-right: 3%;
height: auto;
padding-top: 15px;
padding-bottom: 15px;
padding-left:2%;
}

