.main-footer{
background-color: #000;
height: 120px;
margin-top: -17px;
}

.main-footer-list-one{
	text-align:center;
	color:#fff;
	display:inline-block;
	padding-left: 34%;
padding-top: 30px;
padding-right: 3%;
}

.main-footer-list-two{
	text-align:center;
	color:#fff;
	display:inline-block;
}

.main-footer-telephone-link{
	text-align:center;
	color:#fff;
	display:inline-block;
}

.main-footer-email-link{
	text-align:center;
	color:#fff;
	display:inline-block;
}