// Header-text
.main-header{
	background: url(../img/img.jpg)no-repeat;
	height: 683px;
	background-size: cover;
	width: 100%;
}

.banner-video-text{
	text-align: center;
  padding-top: 300px;
  text-transform: uppercase;
  color:#fff;
}

// boton general
.button{
	height: 75px;
	background-color: transparent;
	width: 35%;
	border:1px solid;
	text-transform: uppercase;
}

.btn-more-about-me{
	border:1px solid #009FE3;
	width: 15%;
	color: #000;
}